# Python
__pycache__/
*.py[cod]

# Virtual env
paddle_ocr_env/
venv/
.venv/

# Dataset
data/
images/

# Training outputs
outputs/checkpoints/
outputs/**/*.bin
outputs/**/*.safetensors

# Local pretrained models
models/

# Mac
.DS_Store

# IDE
.vscode/
.idea/